/*
PRE-CONFIG
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

/*
YOUTUBE PLAYER
*/
.player {
	width: 1920px;
	height: 1080px;
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

/*
SHOW/HIDE BUTTON
*/
.show-hide {
	position: absolute;
	right: 3px;
	color: white;
	font-size: 20px;
	top: 3px;
	cursor: pointer;
	z-index: 3;
}

/*
MENU
*/
.menu {
	width: 25%;
	height: 100%;
	position: absolute;
	right: 0;
	background-color: rgba(46, 46, 46, 0.5);
	z-index: 2;
	display: flex;
	flex-flow: row wrap;
	padding: 1%;
}

/*
CITIES LIST
*/
.cities, .radio {
	width: 100%;
	position: relative;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-top: 3%;
}

.cities {
	height: 25%;
}

.cities-header, .radio-header {
	width: 100%;
	height: 15%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background: #eee;
	font-size: 15px;
}

.radio-header {
	height: 40%;
}

.cities-list {
	text-align: center;
	height: 85%;
}

.cities-list ul {
	background: #292929;
	padding: 2%;
	height: 100%;
	overflow-y: scroll !important;
}

.cities-list li {
	padding: 3px 5px;
	color: white;
	background: #292929;
	cursor: pointer;
	transition: all .5s;
	border-radius: 2px;
	font-size: 13px;
	margin: 1%;
}

.cities-list li:hover {
	background: #ccc;
	color: black;
}

.cities-list li.active {
	border: 1px solid #ccc;
}

/*
RADIO
*/
.radio {
	height: 10%;
}

.radio-controls {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	padding: 10px;
}

.radio-play-pause, .radio-volume {
	cursor: pointer;
	color: white;
}

.radio-play-pause {
	width: 10%;
}

.radio-volume {
	width: 90%;
}

.radio-volume input {
	width: 100%;
}

/*
RANDOM CITY
*/
.random-city {
	width: 100%;
	height: 7%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: #292929;
	cursor: pointer;
	transition: all .5s;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.random-city:hover {
	background: #ccc;
	color: black;
}

/*
CONFIGURATION
*/
.configuration {
	width: 100%;
	height: 15%;
}

.configuration-group {
	width: 100%;
	height: 50%;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.configuration-group button {
	padding: 5px 15px;
	cursor: pointer;
	background: none;
	color: #eee;
	border: 1px solid #eee;
	font-size: 16px;
	outline: none;
}

.configuration-group button.active {
	background: #eee;
	color: black;
}

.information {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}

.social, .video-source {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.video-source a {
	color: #eee;
}

.social {
	font-size: 25px;
}

.social a {
	color: rgba(255, 255, 255, .6);
	transition: color .5s;
}

.social a:hover {
	color: white;
}

/*
MENU FOOTER
*/
.footer {
	position: relative;
	width: 100%;
	text-align: center;
}

.footer p {
	color: white;
}

.footer a {
	color: dodgerblue;
	text-decoration: none;
}

/*
LOCATION
*/
.location {
	position: absolute;
	left: 1%;
	top: 1%;
	color: black;
	font-size: 15px;
	z-index: 1;
	background: #eee;
	padding: 5px 10px;
	border-radius: 2px;
}

/*
LOADING
*/
.loading {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading h1 {
	animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
	0% {
		opacity: 1;
	} 50% {
		opacity: 0;
	} 100% {
		opacity: 1
	}
}


body {
	overflow: hidden;
}

.Gif {
	width: 100%;
}

.close {
	color: #fff!important;
}

#hidden {
	visibility: hidden;
}

#slidecontainer {
	background: rgba(33,33,33,.6);
}

#mobileSlidecontainer,#slidecontainer {
	padding-left: 5px;
	padding-right: 5px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	margin-right: 0;
	margin-left: 0;
	border-radius: 0 0 3px 3px;
	padding-bottom: 5px;
}

#mobileSlidecontainer {
	background: rgba(33,33,33,.4);
}

.footer {
	white-space: nowrap;
	overflow: hidden;
	-ms-flex-align: center;
	align-items: center;
	bottom: 0;
	right: 0;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 5px;
	padding: 2px;
	width: -webkit-fill;
}

.footerCol {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

#footer-link {
	cursor: pointer;
	color: #fff;
	font-size: 8pt;
	text-decoration: underline;
}

.slider:hover {
	opacity: 1;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background: #d3d3d3;
	outline: none;
	opacity: .9;
	transition: opacity .2s;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fafafa;
	cursor: pointer;
	align-self: center;
}

.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #575757;
	cursor: pointer;
	align-self: center;
}

.button {
	border: 0;
	background: transparent;
	box-sizing: border-box;
	width: 0;
	height: 74px;
	border-color: transparent transparent transparent #202020;
	border-style: solid;
	border-width: 37px 0 37px 60px;
}

.button,.radioPlayer {
	transition: all .1s ease;
	cursor: pointer;
}

.radioPlayer {
	background-repeat: no-repeat;
	filter: invert(100%) sepia(99%) saturate(0) hue-rotate(208deg) brightness(98%) contrast(111%);
}

.pause {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.pause,.play {
	background-position: 50%;
}

.play {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M8 5v14l11-7z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.pre {
	background-position: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M6 6h2v12H6zm3.5 6l8.5 6V6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.next {
	background-position: 0;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.button.paused {
	border-style: double;
	border-width: 0 0 0 60px;
}

.button:hover {
	border-color: transparent transparent transparent #404040;
}

#panel {
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	height: 100%;
	width: 23%;
	max-width: 400px;
	position: absolute;
	padding: 10px 26px 3px;
	right: 0;
	background: rgba(33,33,33,.5);
	color: #fff;
}

#panel::-webkit-scrollbar {
	display: none;
}

#buttonBox {
	padding: 1% 2%;
	left: 0;
	bottom: 0;
	height: 170px;
	background: rgba(33,33,33,.6);
	border-radius: 3px;
	overflow-y: auto;
}

#playerBox {
	background: rgba(33,33,33,.6);
}

#mobilePlayerBox,#playerBox {
	padding-top: 5px;
	border-radius: 3px 3px 0 0;
	margin-right: 0;
	margin-left: 0;
	-ms-flex-pack: center;
	justify-content: center;
}

#mobilePlayerBox {
	background: rgba(33,33,33,.4);
}

.mobileHeader {
	top: 0;
	height: 30px;
	padding: 10px;
	color: #fff!important;
	vertical-align: middle;
}

.mobileHeader,.navbar {
	position: fixed;
	width: 100%;
	display: inline-block;
}

.navbar {
	bottom: 0;
	background: rgba(33,33,33,.8);
	padding: 5px 10px;
	color: #fff;
}

.modal-content {
	padding: 0;
	width: 60%;
	margin-bottom: 50%;
	text-align: center;
	background: rgba(33,33,33,.5);
	border-radius: 3px;
	border: 1px solid hsla(0,0%,94%,.5);
}

.modal-title {
	font-size: xlarge;
}

.modal-body,.modal-title {
	color: #fff;
	font-family: Avenir,Helvetica,sans-serif;
}

.modal-body {
	height: 40%;
	overflow: auto;
	font-size: medium;
}

.buttonSet {
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
	background: hsla(0,0%,94%,.4);
	border-radius: 3px;
	border: 1px solid hsla(0,0%,94%,.5);
}

.mobileButtonSet {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background: hsla(0,0%,51%,.4);
	border-radius: 3px;
	border: 1px solid hsla(0,0%,51%,.5);
}

.rowCol {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.left {
	float: left;
}

.right {
	float: right;
	right: 0;
}

.no-right-margin {
	margin-right: 0!important;
}

.Button {
	margin: 10px;
}

.Button,.mobileButton {
	padding: 1px 2px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: small;
	transition: background-color .5s ease;
}

.Cities {
	text-align: left;
	padding: 1px 15px;
	border: 0;
	margin: 2px;
}

.Rates {
	margin-right: 10px;
	width: 80%;
}

#active {
	border: 1px solid #fff;
	background: hsla(0,0%,82%,.7);
}

.Button:hover {
	background: hsla(0,0%,63%,.7);
}

li {
	list-style-type: none;
}

ol {
	-webkit-padding-start: 0;
	padding-inline-start: 0;
}

* {
	box-sizing: border-box;
}

.video-background,ReactPlayer {
	background: #000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
}

.zero-margin {
	margin-right: 0;
	margin-left: 0;
}

.video-background iframe,.video-foreground,ReactPlayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width:1000px) {
	.video-background iframe,.video-foreground,ReactPlayer {
		pointer-events: none;
	}
}

ReactAudioPlayer {
	width: auto;
	padding: 0;
	position: absolute;
	z-index: -999;
}

.layer {
	z-index: 100;
	position: absolute;
	right: 0;
	cursor: pointer;
	margin: 1px;
	margin-right: 4px;
}

.layer img {
	height: 12px!important;
	width: 12px!important;
	filter: invert(100%) sepia(99%) saturate(0) hue-rotate(208deg) brightness(98%) contrast(45%);
}

.layer img:hover {
	filter: invert(100%) sepia(99%) saturate(0) hue-rotate(208deg) brightness(98%) contrast(100%);
}

.header {
	text-align: center;
}

.App {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	font-family: Avenir,Helvetica,sans-serif;
}

.App h1 {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 0;
	line-height: 1.2;
	text-align: center;
}

p {
	font-size: 10pt;
	margin-bottom: 0;
}

.App a {
	display: block;
	color: #fff;
	text-decoration: none;
	transition: background .6s;
	border-bottom: none;
	text-align: center;
}

@media (min-aspect-ratio:16/9) {
	.video-foreground {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio:16/9) {
	.video-foreground {
		width: 300%;
		left: -100%;
	}
}

@media (max-width:700px) {
	.col-sm-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	#panel {
		overflow-y: scroll;
		height: 100%;
		width: 37%;
		position: absolute;
		padding-left: 23px;
		padding-right: 23px;
		padding-top: 15px;
		bottom: 0;
		background: rgba(33,33,33,.5);
		color: #fff;
	}

	.buttonSet {
		margin-top: 10px;
	}

	.layer img {
		height: 20px!important;
		width: 20px!important;
	}

	.App h1 {
		display: none;
	}
}

@media (max-width:500px) {
	.App .acronym,.App h1 {
		display: none;
	}
}

#hid {
	display: none;
}

.end-bg {
	top: 0;
	padding: 10% 25%!important;
	text-align: center;
	text-align: -webkit-center;
	background-color: #101010;
}

#mobile-noise,.end-bg {
	left: 0;
	width: 100%;
	height: 100%;
	color: azure;
	margin: 0;
	z-index: -98;
	position: fixed;
}

#mobile-noise {
	top: 50%;
	text-align: center;
	text-decoration: underline;
	padding: 0;
	background-color: #000;
}

#noise {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: -98;
	position: fixed;
	background-image: url(/static/media/noise.44bf93fc.png);
	background-repeat: repeat;
	animation: noiseAnim .1s infinite linear alternate;
}

.bmc-button img {
	height: 17px!important;
	width: 18px!important;
	margin-bottom: 1px!important;
	margin-left: 6px!important;
	border: none!important;
	vertical-align: middle!important;
}

.bmc-button {
	animation: color-change 2s infinite;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 35px!important;
	height: 25px!important;
	min-width: 140px!important;
	text-decoration: none!important;
	display: -ms-inline-flexbox!important;
	display: inline-flex!important;
	padding: 7px 10px!important;
	font-size: 18px!important;
	letter-spacing: .6px!important;
	margin: 0 auto!important;
	font-family: Cookie,cursive!important;
	box-sizing: border-box!important;
}

@keyframes color-change {
	0% {
		color: #fff;
	}

	50% {
		color: #f0f;
	}

	to {
		color: #fff;
	}
}

.bmc-button:active,.bmc-button:focus,.bmc-button:hover {
	text-decoration: none!important;
	color: #fff!important;
}

@keyframes noiseAnim {
	0% {
		background-position: 10px 200px;
	}

	20% {
		background-position: -50px 0;
	}

	40% {
		background-position: 100px -10px;
	}

	60% {
		background-position: 0 -150px;
	}

	80% {
		background-position: -100px -30px;
	}

	to {
		background-position: 160px -60px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*# sourceMappingURL=main.68d5dc4d.css.map*/
